{% extends 'layout.twig' %}

{% block body %}
    <h1>{{title}}</h1>

    {% if (data.topartists.artist) %}
        <ul>
        {% for artist in data.topartists.artist %}
            <li>
                <h4><a href="/artists/{{ slugify(artist.name) }}">{{ artist.name }}</a></h4>
                {% if (artist.image[2]['#text']) %}
                    <a href="/artists/{{ artist.mbid }}"><img src="{{ artist.image[2]['#text'] }}" alt=""></a>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
    {% endif %}
{% endblock %}
